body {
	font-family: verdana, sans-serif;
	background-color: #eee;
	color: #444;
	margin: 0.5em;
	padding: 0.5em;
}

table {
	border: none;
	border-spacing: 0.25em;
	margin: 0;
	padding: 0;
	text-align: left;
}

th,
td {
	border: none;
	border-radius: 0.5em;
	padding: 0.25em;
	vertical-align: top;
}

tr:nth-child(even) {
	background: #8882;
}

tr:nth-child(odd) {
	background: #8882;
}

code,
pre,
samp,
.method,
.type,
.variable,
.value,
.deprecated,
.infonote {
	font-family: consolas, dejavu sans mono, monospace, courier;
}

.method {
	color: #080;
	white-space: nowrap;
}

.type {
	color: #800;
	white-space: nowrap;
}

.variable {
	color: #008;
	white-space: nowrap;
}

.value {
	color: #808;
	white-space: nowrap;
}

.deprecated {
	color: #0408;
	white-space: nowrap;
}

.infonote {
	color: #08B;
	font-weight: normal;
}

header {
	text-align: center;
	white-space: nowrap;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	border-image: linear-gradient(to right, transparent, currentColor, transparent);
	border-image-slice: 1;
	padding: 0;
	margin: 0.5em;
}

header p {
	margin-left: 0.5em;
	margin-top: -1em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
	white-space: nowrap;
}

header p::before {
	content: "\02014";
	margin-right: 0.5em;
	white-space: nowrap;
}

header p::after {
	content: "\02014";
	margin-left: 0.5em;
	white-space: nowrap;
}

.toggleExpandCollapse-lbl {
	display: block;
	cursor: pointer;
	color: currentColor;
	transition: all 0.25s ease-in-out;
}

.toggleExpandCollapse-lbl::before {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: 0;
	transition: all 0.25s ease-in-out;
	/* PLUS SIGN */
	content: "\2B";
	opacity: 1;
}

th .toggleExpandCollapse-lbl::before {
	/* CIRCLED PLUS */
	content: "\2295";
}

.toggleExpandCollapse-lbl::after {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: -1em;
	transition: all 0.25s ease-in-out;
	/* MINUS SIGN */
	content: "\2212";
	opacity: 0;
}

th .toggleExpandCollapse-lbl::after {
	/* CIRCLED MINUS */
	content: "\2296";
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl::before {
	opacity: 0;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl::after {
	opacity: 1;
}

.toggleExpandCollapse-lbl:hover::before {
	color: #08B;
}

.toggleExpandCollapse-lbl:hover::after {
	color: #08B;
}

.toggleExpandCollapse-chk {
	display: none;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl+.collapsible-content {
	max-height: 100vh;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl {
	// border-bottom-right-radius: 0;
	// border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	// background: rgba(250, 224, 66, .2);
	// border-bottom: 1px solid rgba(250, 224, 66, .45);
	// border-bottom-left-radius: 7px;
	// border-bottom-right-radius: 7px;
	padding: 0;
}

.grid-parent {
	display: grid;
	border: none;
	width: max-content;
	grid: auto-flow / auto-flow;
	gap: 1em;
	place-items: stretch;
	place-content: start;
	grid-template-areas: "head head" "left right";
}

.grid-child {
	border: none;
}

.grid-child.left {
	grid-area: left;
}

.grid-child.right {
	grid-area: right;
}

.grid-child.head {
	grid-area: head;
	text-align: center;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}