body {
	font-family: verdana, sans-serif;
	background: #eee;
	color: #444;
	margin: 0.5em;
	padding: 0.5em;
	display: grid;
	border: none;
	min-width: min-content;
	max-width: max-content;
	gap: 1em;
	place-items: stretch;
	place-content: start;
	grid-template-areas:
		"title title"
		"left right";
}

table {
	border: none;
	border-spacing: 0.25em;
	margin: 0;
	padding: 0;
	text-align: left;
}

tr, th, td {
	border: none;
	border-radius: 0.5em;
	padding: 0.25em;
	vertical-align: top;
}

tr:nth-child(even) {
	background: #8882;
}

tr:nth-child(odd) {
	background: #8882;
}

code,
pre,
samp,
.method,
.type,
.variable,
.value,
.deprecated,
.infonote {
	font-family: "consolas", "dejavu sans mono", "monospace", "courier";
}

.method {
	color: #080;
}

.type {
	color: #800;
}

.variable {
	color: #008;
}

.value {
	color: #808;
}

.deprecated {
	color: #0408;
}

.infonote {
	color: #08B;
	font-weight: normal;
	text-decoration: unset;
	border-bottom: 2px dotted #08B;
}

.infonote::after {
	/* LOW ASTERISK */
	content: "\2217";
}

.collapsible-lbl {
	display: block;
	cursor: pointer;
	color: currentColor;
	transition: all 0.5s ease-in-out;
}

.collapsible-lbl::before {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: 0;
	transition: all 0.5s ease-in-out;
	/* PLUS SIGN */
	content: "\2B";
	opacity: 1;
}

th .collapsible-lbl::before {
	/* CIRCLED PLUS */
	content: "\2295";
}

.collapsible-lbl::after {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: -1em;
	transition: all 0.5s ease-in-out;
	/* MINUS SIGN */
	content: "\2212";
	opacity: 0;
}

th .collapsible-lbl::after {
	/* CIRCLED MINUS */
	content: "\2296";
}

.collapsible-chk:checked+.collapsible-lbl::before {
	opacity: 0;
}

.collapsible-chk:checked+.collapsible-lbl::after {
	opacity: 1;
}

.collapsible-lbl:hover::before {
	color: #08B;
}

.collapsible-lbl:hover::after {
	color: #08B;
}

.collapsible-chk {
	display: none;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
	padding: 0;
}

.collapsible-chk:checked+.collapsible-lbl+.collapsible-content {
	max-height: 10em;
}

.grid-item {
	border: none;
}

.grid-item.left {
	grid-area: left;
}

.grid-item.right {
	grid-area: right;
}

.grid-item.title {
	grid-area: title;
	text-align: center;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	border-image: linear-gradient(to right, transparent, currentColor, transparent);
	border-image-slice: 1;
	padding: 0;
	margin: 0.5em;
}

.grid-item.subtitle {
	padding: 0;
	margin-left: 0.5em;
	margin-top: -1em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
}

.grid-item.subtitle::before {
	content: "\02014";
	margin-right: 0.5em;
}

.grid-item.subtitle::after {
	content: "\02014";
	margin-left: 0.5em;
}
