body {
	font-family: verdana, sans-serif;
	background: #eee;
	color: #444;
	margin: 0.5em;
	padding: 0.5em;
}

table {
	border: none;
	border-spacing: 0.25em;
	margin: 0;
	padding: 0;
	text-align: left;
}

th,
td {
	border: none;
	border-radius: 0.5em;
	padding: 0.25em;
	vertical-align: top;
}

tr:nth-child(even) {
	background: #8882;
}

tr:nth-child(odd) {
	background: #8882;
}

code,
pre,
samp,
.method,
.type,
.variable,
.value,
.deprecated,
.infonote {
	font-family: consolas, dejavu sans mono, monospace, courier;
}

.method {
	color: #080;
}

.type {
	color: #800;
}

.variable {
	color: #008;
}

.value {
	color: #808;
}

.deprecated {
	color: #0408;
}

.infonote {
	color: #08B;
	font-weight: normal;
	text-decoration: unset;
	border-bottom: 2px dotted #08F;
}

.infonote::after {
	/* LOW ASTERISK */
	content: "\2217";
}

.toggleExpandCollapse-lbl {
	display: block;
	cursor: pointer;
	color: currentColor;
	transition: all 0.25s ease-in-out;
}

.toggleExpandCollapse-lbl::before {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: 0;
	transition: all 0.25s ease-in-out;
	/* PLUS SIGN */
	content: "\2B";
	opacity: 1;
}

th .toggleExpandCollapse-lbl::before {
	/* CIRCLED PLUS */
	content: "\2295";
}

.toggleExpandCollapse-lbl::after {
	display: inline-block;
	float: right;
	width: 1em;
	margin-right: -1em;
	transition: all 0.25s ease-in-out;
	/* MINUS SIGN */
	content: "\2212";
	opacity: 0;
}

th .toggleExpandCollapse-lbl::after {
	/* CIRCLED MINUS */
	content: "\2296";
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl::before {
	opacity: 0;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl::after {
	opacity: 1;
}

.toggleExpandCollapse-lbl:hover::before {
	color: #08B;
}

.toggleExpandCollapse-lbl:hover::after {
	color: #08B;
}

.toggleExpandCollapse-chk {
	display: none;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl+.collapsible-content {
	max-height: 100vh;
}

.toggleExpandCollapse-chk:checked+.toggleExpandCollapse-lbl {
	// border-bottom-right-radius: 0;
	// border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	// background: rgba(250, 224, 66, .2);
	// border-bottom: 1px solid rgba(250, 224, 66, .45);
	// border-bottom-left-radius: 7px;
	// border-bottom-right-radius: 7px;
	padding: 0;
}

.grid-parent {
	display: grid;
	border: none;
	width: max-content;
	grid: auto-flow / auto-flow;
	gap: 1em;
	place-items: stretch;
	place-content: start;
	grid-template-areas: "title title" "left right";
}

.grid-child {
	border: none;
}

.grid-child.left {
	grid-area: left;
}

.grid-child.right {
	grid-area: right;
}

.grid-child.title {
	grid-area: title;
	width: 100%;
	text-align: center;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	border-image: linear-gradient(to right, transparent, currentColor, transparent);
	border-image-slice: 1;
	padding: 0;
	margin: 0.5em;
}

.grid-child.subtitle {
	padding: 0;
	margin-left: 0.5em;
	margin-top: -1em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
}

.grid-child.subtitle::before {
	content: "\02014";
	margin-right: 0.5em;
}

.grid-child.subtitle::after {
	content: "\02014";
	margin-left: 0.5em;
}
